.tickets {
	margin: 0 auto;
	max-width: 750px;
	h3 {
		color: white;
		text-align: center;
		margin: 35px auto 10px;
    font-size: 2.6em;
	}
	.row.ticket-details {
		margin-bottom:20px;
		padding-top:20px;
		padding-bottom:10px;
		background: rgba(49,49,49,.7);
		.calendar {
			p {
				font-family: $header-font-family;
				margin-bottom: 0;
				font-size: 1.857em;
				font-weight: $regular;
				text-align: center;
				color: white;
				span {
					text-transform: uppercase;
				}
			}
			padding-top: 0px;
			padding-bottom: 15px;
			@media only screen and (min-width: 62em) {
				padding-bottom: 0px;
				border-right: 1px solid $brandbasic;	
			}
		}
		.info {
			padding-top: 8px;		
			@media only screen and (min-width: 62em) {
				padding-left:40px;
			}
			p {
				font-family: $header-font-family;
				font-size: 1.414em;
				text-transform: uppercase;
				color: $brandbasic;
				margin-bottom: 8px;
				line-height: 22px;
				@media (max-width: 61.9em) {
					text-align: center;
				}
				&:first-of-type {
					color: white;
				  font-size: 1.2em;
				  text-transform: none;
				}
				a {
					font-family: $header-font-family;
					border-bottom: 1px solid $brandbasic;
					&:hover {
						color: white;
						border-bottom: 1px solid white;
					}
				}
			}
			p.theatre {
				font-family: $header-font-family;
			}
			h5{
				color:$brandbasic;
			}
		}
		.book {
			position: relative;
    	max-width: 200px;
    	margin: 0 auto;
			.btn {
				width: 200px;
			}
			.buttonTL {
			  background: linear-gradient(to right, rgba(247,195,77,1) 0%,rgba(216,134,13,1) 100%);
			  border: 2px outset $brandbasic;
			  color: black;
			  font-size: 1.375em;
			  font-weight: bold;
			  transition: 0.5s;
			  margin-top: 15px;
			  padding: 5px;
			  width: 200px;
			  border-radius: 0;
			  &:hover, &:focus {
			    background: linear-gradient(to right, rgba(216,134,13,1) 0%,rgba(247,195,77,1) 100%);
			    border: 2px inset $brandbasic;
			    color: black;
			    &::before {
			      animation: twinkle 1s 1 forwards;
			    }
			  }
			  &::before {
			    content: url(../img/base/starburst.png);
			    position: absolute;
			    left: -31px;
    			top: -17px;
			  }
			}
			.buttonBR {
			  background: linear-gradient(to right, rgba(247,195,77,1) 0%,rgba(216,134,13,1) 100%);
			  border: 2px outset $brandbasic;
			  color: black;
			  font-family: $header-font-family;
			  font-size: 1.375em;
			  font-weight: bold;
			  transition: 0.5s;
			  margin-top: 15px;
			  padding: 5px;
			  width: 200px;
			  border-radius: 0;
			  &:hover, &:focus {
			    background: linear-gradient(to right, rgba(216,134,13,1) 0%,rgba(247,195,77,1) 100%);
			    border: 2px inset $brandbasic;
			    color: black;
			    &::after {
			      animation: twinkle 1.5s 1 forwards;
			    }
			  }
			  &::after {
			    content: url(../img/base/starburst.png);
			    position: absolute;
			    right: -32px;
    			bottom: -40px;
			    transition: 1s;
			  }    
			}
			@keyframes twinkle {
			  from {
			    transform: scale3d(1, 1, 1);
			    opacity: 1;
			  }

			  50% {
			    transform: scale3d(.75, .75, .75);
			    opacity: 0.5;
			  }

			  to {
			    transform: scale3d(1, 1, 1);
			    opacity: 1;
			  }
			}
		}
	}	
}