@font-face {
  font-family: 'Beloved Sans Bold';
  src: url("../src/fonts/beloved_sans_bold-webfont.eot");
  src: url("../src/fonts/beloved_sans_bold-webfont.eot?#iefix") format("embedded-opentype"), url("../src/fonts/beloved_sans_bold-webfont.woff2") format("woff2"), url("../src/fonts/beloved_sans_bold-webfont.woff") format("woff"), url("../src/fonts/beloved_sans_bold-webfont.ttf") format("truetype"), url("../src/fonts/beloved_sans_bold-webfont.svg#beloved_sansbold") format("svg");
  font-weight: bold;
  font-style: normal;
}
@font-face {
  font-family: 'Beloved Sans Regular';
  src: url("../src/fonts/beloved_sans-webfont.eot");
  src: url("../src/fonts/beloved_sans-webfont.eot?#iefix") format("embedded-opentype"), url("../src/fonts/beloved_sans-webfont.woff2") format("woff2"), url("../src/fonts/beloved_sans-webfont.woff") format("woff"), url("../src/fonts/beloved_sans-webfont.ttf") format("truetype"), url("../src/fonts/beloved_sans-webfont.svg#beloved_sansregular") format("svg");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'hansom_fyregular';
  src: url("../src/fonts/hansomfy-regular_s-webfont.eot");
  src: url("../src/fonts/hansomfy-regular_s-webfont.eot?#iefix") format("embedded-opentype"), url("../src/fonts/hansomfy-regular_s-webfont.woff2") format("woff2"), url("../src/fonts/hansomfy-regular_s-webfont.woff") format("woff"), url("../src/fonts/hansomfy-regular_s-webfont.ttf") format("truetype"), url("../src/fonts/hansomfy-regular_s-webfont.svg#hansom_fyregular") format("svg");
  font-weight: normal;
  font-style: normal;
}
p {
  font-family: "hansom_fyregular", sans-serif;
  color: white;
  font-size: 1.3em;
}
p .lead {
  font-weight: 400;
}

p.uppercase {
  font-variant: small-caps;
  margin-bottom: 3px;
  font-weight: 700;
  font-size: 20px;
  color: #d68d1b;
}

small {
  font-size: 80%;
}

a {
  font-weight: 400;
  color: #d68d1b;
  font-family: "hansom_fyregular", sans-serif;
  text-decoration: none !important;
  transition: .5s;
}
a:hover {
  color: #66ff66;
  text-decoration: none;
}

/** HEADERS **/
h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 {
  margin: 10px 0;
  font-family: "hansom_fyregular", sans-serif;
  font-weight: 400;
  color: #A35A00;
}

h1 a, h2 a, h3 a {
  font-family: "hansom_fyregular", sans-serif;
}

.btn {
  border-radius: 0;
}

.buttonTL {
  background: linear-gradient(to right, #f7c34d 0%, #d8860d 100%);
  border: 2px outset #d68d1b;
  color: black;
  font-size: 1.375em;
  font-weight: bold;
  transition: 0.5s;
  margin-top: 15px;
  padding: 5px;
  width: 300px;
}
.buttonTL:hover, .buttonTL:focus {
  background: linear-gradient(to right, #d8860d 0%, #f7c34d 100%);
  border: 2px inset #d68d1b;
  color: black;
}
.buttonTL:hover::before, .buttonTL:focus::before {
  animation: twinkle 1s 1 forwards;
}
.buttonTL::before {
  content: url(../img/base/starburst.png);
  position: absolute;
  left: -33px;
  top: -33px;
}
@media only screen and (max-width: 30em) {
  .buttonTL {
    width: 200px;
  }
}

.buttonBR {
  background: linear-gradient(to right, #f7c34d 0%, #d8860d 100%);
  border: 2px outset #d68d1b;
  color: black;
  font-size: 1.375em;
  font-weight: bold;
  transition: 0.5s;
  margin-top: 15px;
  padding: 5px;
  width: 300px;
}
.buttonBR:hover, .buttonBR:focus {
  background: linear-gradient(to right, #d8860d 0%, #f7c34d 100%);
  border: 2px inset #d68d1b;
  color: black;
}
.buttonBR:hover::after, .buttonBR:focus::after {
  animation: twinkle 1s 1 forwards;
}
.buttonBR::after {
  content: url(../img/base/starburst.png);
  position: absolute;
  right: -33px;
  bottom: -43px;
  transition: 1s;
}
@media only screen and (max-width: 30em) {
  .buttonBR {
    width: 200px;
  }
}

@keyframes twinkle {
  from {
    transform: scale3d(1, 1, 1);
    opacity: 1;
  }
  50% {
    transform: scale3d(0.75, 0.75, 0.75);
    opacity: 0.5;
  }
  to {
    transform: scale3d(1, 1, 1);
    opacity: 1;
  }
}
.img-center {
  margin: 0 auto;
}

/* VERTICAL ALIGN HACK */
.vcenter {
  display: inline-block;
  vertical-align: middle;
  float: none;
}

.roundcorners {
  -webkit-border-radius: 15px;
  -moz-border-radius: 15px;
  border-radius: 15px;
}

.roundcorners-shadow {
  -webkit-border-radius: 15px;
  -moz-border-radius: 15px;
  border-radius: 15px;
  -webkit-box-shadow: #B3B3B3 5px 5px 5px;
  -moz-box-shadow: #B3B3B3 5px 5px 5px;
  box-shadow: #B3B3B3 5px 5px 5px;
}

.shadow {
  -webkit-box-shadow: #B3B3B3 5px 5px 5px;
  -moz-box-shadow: #B3B3B3 5px 5px 5px;
  box-shadow: #B3B3B3 5px 5px 5px;
}

.brandprimary {
  background-color: #d68d1b;
  color: white;
  margin: 10px;
  padding: 20px;
}

.brandprimarylight {
  background-color: brandbasiclight;
  color: black;
  margin: 10px;
  padding: 20px;
}

.brandprimarydark {
  background-color: #A35A00;
  color: white;
  margin: 10px;
  padding: 20px;
}

.brandcompliment {
  background-color: 0ff00;
  color: white;
  margin: 10px;
  padding: 20px;
}

.brandcomplimentlight {
  background-color: #66ff66;
  color: black;
  margin: 10px;
  padding: 20px;
}

.brandalt {
  background-color: ffff00;
  color: white;
  margin: 10px;
  padding: 20px;
}

/* CAROUSEL STYLING */
.carousel-caption {
  position: absolute;
  /* absolute position (so we can position it where we want)*/
  bottombottom: 0px;
  /* position will be on bottom */
  left: 0px;
  width: 100%;
  background: rgba(0, 0, 0, 0.35);
  padding: 0 20px;
  text-align: center;
}
.carousel-caption h1, .carousel-caption h2, .carousel-caption h3, .carousel-caption h4, .carousel-caption h5, .carousel-caption h6 {
  color: white;
}
.carousel-caption a {
  color: white;
}
.carousel-caption a:hover {
  text-decoration: none;
}

/*! responsive reCAPTCHA by jaicab - https://github.com/jaicab/responsive-reCAPTCHA */
*,
*:after,
*:before {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

#responsive_recaptcha {
  background-color: #eee;
  padding: 0.5em;
  border-radius: 1em;
  position: relative;
  overflow: auto;
  max-width: 480px;
  font: 0.75em/1em "Helvetica Neue", Helvetica, Arial, sans-serif;
  color: #ffffff;
}

#responsive_recaptcha a {
  color: #ffffff;
  text-decoration: none;
}

#responsive_recaptcha img,
#responsive_recaptcha #recaptcha_image {
  width: 100% !important;
  height: auto !important;
  -webkit-border-radius: 0.5em;
  -moz-border-radius: 0.5em;
  border-radius: 0.5em;
  -moz-background-clip: padding;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
}

#responsive_recaptcha .solution {
  margin-top: 0.5em;
  padding: 0.5em;
  padding-top: 1em;
  -webkit-border-radius: 0.5em;
  -moz-border-radius: 0.5em;
  border-radius: 0.5em;
  -moz-background-clip: padding;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
  background-color: white;
  color: #000000;
  display: block;
}

#responsive_recaptcha .solution input {
  display: block;
  width: 100%;
  margin: 0.5em auto;
  -webkit-appereance: none;
  border: 1px solid #d68d1b;
  font: inherit;
  font-size: 150%;
  outline: none;
}

#responsive_recaptcha .solution input:focus {
  border-color: #d68d1b;
}

#responsive_recaptcha .options {
  margin-top: 0.5em;
  -webkit-border-radius: 0.5em;
  -moz-border-radius: 0.5em;
  border-radius: 0.5em;
  -moz-background-clip: padding;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
}

#responsive_recaptcha .options a {
  background-color: #d68d1b;
  display: block;
  padding: 0.5em;
  border-top: 1px solid #d68d1b;
  border-left: 1px solid #d68d1b;
  border-right: 1px solid #d68d1b;
}

#responsive_recaptcha .options a:first-child {
  border-radius: 0.5em 0.5em 0 0;
}

#responsive_recaptcha .options a:last-child {
  border-radius: 0 0 0.5em 0.5em;
  border-bottom: 1px solid #000000;
}

@media screen and (min-width: 480px) {
  #responsive_recaptcha .solution {
    float: left;
    width: 66%;
    margin-top: 0.5em;
    padding: 1em;
  }

  #responsive_recaptcha .solution input {
    margin: 0.35em auto;
    width: 90%;
  }

  #responsive_recaptcha .options {
    float: right;
    width: 34%;
    padding-left: 0.5em;
  }
}
/* ReCaptcha Iframe FIX */
iframe {
  display: none;
}

.row iframe,
div iframe {
  display: inline;
}

.gform_wrapper ul {
  padding-left: 0;
  list-style: none;
}
.gform_wrapper li {
  margin-bottom: 15px;
}
.gform_wrapper form {
  margin-bottom: 0;
}
.gform_wrapper .gfield_required {
  padding-left: 1px;
  color: #b94a48;
}
.gform_wrapper .gfield_checkbox li input[type=checkbox], .gform_wrapper .gfield_radio li input[type=radio] {
  float: left;
  margin-top: 2px;
  width: 20px;
}
.gform_wrapper .gfield_checkbox li label, .gform_wrapper .gfield_radio li label {
  display: block;
  margin: 0 0 0 24px;
  padding: 0;
  width: auto;
  line-height: 1.5;
  vertical-align: top;
}

.ginput_container input, .ginput_container select, .ginput_container textarea {
  display: block;
  width: 100%;
  height: 34px;
  padding: 6px 12px;
  font-size: 14px;
  line-height: 1.428571429;
  color: #555;
  vertical-align: middle;
  background-color: #fff;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
}
.ginput_container input:-moz-placeholder, .ginput_container select:-moz-placeholder, .ginput_container textarea:-moz-placeholder {
  color: #999;
}
.ginput_container input:-ms-input-placeholder, .ginput_container select:-ms-input-placeholder, .ginput_container textarea:-ms-input-placeholder {
  color: #999;
}
.ginput_container input::-webkit-input-placeholder, .ginput_container select::-webkit-input-placeholder, .ginput_container textarea::-webkit-input-placeholder {
  color: #999;
}
.ginput_container input:focus, .ginput_container select:focus, .ginput_container textarea:focus {
  border-color: #66afe9;
  outline: 0;
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(102, 175, 233, 0.6);
}
.ginput_container textarea.ginput_container input, .ginput_container textarea.ginput_container select, .ginput_container textarea.ginput_container textarea {
  height: auto;
}
.ginput_container textarea {
  height: auto;
}
.ginput_container .gform_button {
  display: inline-block;
  padding: 6px 12px;
  margin-bottom: 0;
  font-size: 14px;
  font-weight: normal;
  line-height: 1.428571429;
  text-align: center;
  vertical-align: middle;
  cursor: pointer;
  border: 1px solid transparent;
  border-radius: 4px;
  white-space: nowrap;
  user-select: none;
  color: #fff;
  background-color: #428bca;
  border-color: #357ebd;
}
.ginput_container .gform_button:focus {
  outline: thin dotted #333;
  outline: 5px auto -webkit-focus-ring-color;
  outline-offset: -2px;
}
.ginput_container .gform_button:hover, .ginput_container .gform_button:focus {
  color: #333;
  text-decoration: none;
}
.ginput_container .gform_button:active, .ginput_container .gform_button .active {
  outline: 0;
  background-image: none;
  box-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
}

.gform_button:active,
.gform_button.active,
.open .dropdown-toggle.gform_button {
  background-image: none;
}

.gform_button.disabled,
.gform_button[disabled],
fieldset[disabled] .gform_button,
.gform_button.disabled:hover,
.gform_button[disabled]:hover,
fieldset[disabled] .gform_button:hover,
.gform_button.disabled:focus,
.gform_button[disabled]:focus,
fieldset[disabled] .gform_button:focus,
.gform_button.disabled:active,
.gform_button[disabled]:active,
fieldset[disabled] .gform_button:active,
.gform_button.disabled.active,
.gform_button[disabled].active,
fieldset[disabled] .gform_button.active {
  background-color: #428bca;
  border-color: #357ebd;
}

.gform_wrapper .gfield_error .gfield_label {
  color: #b94a48;
}

.gform_wrapper .gfield_error input,
.gform_wrapper .gfield_error select,
.gform_wrapper .gfield_error textarea {
  border-color: #eed3d7;
  background-color: #f2dede;
  color: #b94a48;
}

.gform_wrapper .gfield_error input:focus,
.gform_wrapper .gfield_error select:focus,
.gform_wrapper .gfield_error textarea:focus {
  border-color: #b94a48;
  outline: 0;
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(185, 74, 72, 0.6);
}

.validation_error {
  padding: 15px;
  margin-bottom: 20px;
  border: 1px solid transparent;
  border-radius: 4px;
  background-color: #f2dede;
  border-color: #eed3d7;
  color: #b94a48;
}

.validation_error h4 {
  margin-top: 0;
  color: inherit;
}

.validation_error .alert-link {
  font-weight: bold;
}

.validation_error > p,
.validation_error > ul {
  margin-bottom: 0;
}

.validation_error > p + p {
  margin-top: 5px;
}

.validation_error hr {
  border-top-color: #e6c1c7;
}

.validation_error .alert-link {
  color: #953b39;
}

#gforms_confirmation_message {
  padding: 15px;
  margin-bottom: 20px;
  border: 1px solid transparent;
  border-radius: 4px;
}

.gforms_confirmation_message h4 {
  margin-top: 0;
  text-align: center;
  color: #d68d1b;
}

#gforms_confirmation_message .alert-link {
  font-weight: bold;
}

#gforms_confirmation_message > p,
#gforms_confirmation_message > ul {
  margin-bottom: 0;
}

#gforms_confirmation_message > p + p {
  margin-top: 5px;
}

.gallery-row {
  padding: 15px 0;
}

.aligncenter {
  display: block;
  margin: 0 auto;
}

.alignleft {
  float: left;
}

.alignright {
  float: right;
}

figure.alignnone {
  margin-left: 0;
  margin-right: 0;
}

.ui-widget {
  background: white;
  padding: 10px;
  border-radius: 5px;
  border: 1px solid #ccc;
  box-shadow: 0 3px 5px rgba(0, 0, 0, 0.125);
}

.ui-widget td {
  text-align: center;
  padding: 3px 0;
  /*border: 1px solid #ccc;*/
}

.ui-widget td a {
  padding: 3px 8px;
}

.ui-datepicker-next {
  float: right;
}

.gform_wrapper label {
  font-weight: normal;
  font-style: italic;
}

.gform_wrapper .gfield_label {
  display: inline-block;
  max-width: 100%;
  margin-bottom: 5px;
  font-weight: bold;
  font-style: normal;
}

.gform_wrapper .gfield_date_dropdown_day, .gform_wrapper .gfield_date_dropdown_month, .gform_wrapper .gfield_date_dropdown_year {
  vertical-align: top;
  display: inline-block;
  zoom: 1;
  margin-right: 2%;
  font-size: .875rem;
  width: 31%;
}

.gform_wrapper .ginput_complex.ginput_container.has_first_name.has_middle_name.has_last_name span.name_first, .gform_wrapper .ginput_complex.ginput_container.has_first_name.has_middle_name.has_last_name span.name_middle, .gform_wrapper .ginput_complex.ginput_container.has_first_name.no_middle_name.has_last_name span.name_first {
  margin-right: .7%;
}

.gform_wrapper .ginput_complex.ginput_container.has_first_name.has_middle_name.no_last_name span, .gform_wrapper .ginput_complex.ginput_container.has_first_name.no_middle_name.has_last_name span, .gform_wrapper .ginput_complex.ginput_container.no_first_name.has_middle_name.has_last_name span {
  display: -moz-inline-stack;
  display: inline-block;
  zoom: 1;
  width: 48.5%;
  vertical-align: top;
}

.gform_wrapper .ginput_complex .ginput_left, .gform_wrapper .ginput_complex .ginput_right {
  width: 48.5%;
  display: -moz-inline-stack;
  display: inline-block;
  zoom: 1;
  vertical-align: top;
}

.gform_wrapper .ginput_complex .ginput_right {
  margin-left: 0.7%;
}

.gform_wrapper .ginput_complex .ginput_full input[type=email], .gform_wrapper .ginput_complex .ginput_full input[type=number], .gform_wrapper .ginput_complex .ginput_full input[type=password], .gform_wrapper .ginput_complex .ginput_full input[type=tel], .gform_wrapper .ginput_complex .ginput_full input[type=text], .gform_wrapper .ginput_complex .ginput_full input[type=url] {
  width: 97.5% !important;
}

.gform_wrapper input[type=email], .gform_wrapper input[type=number], .gform_wrapper input[type=password], .gform_wrapper input[type=tel], .gform_wrapper input[type=text], .gform_wrapper input[type=url] {
  outline-style: none;
  font-size: inherit;
  font-family: inherit;
  padding: .313em 0;
  letter-spacing: normal;
  text-indent: .25em;
}

.gform_wrapper .hidden_label input.large, .gform_wrapper .hidden_label select.large, .gform_wrapper .top_label input.large, .gform_wrapper .top_label select.large {
  width: 97.5%;
}

.gform_wrapper textarea.medium {
  height: 9.375em;
  width: 97.5%;
}

.gform_wrapper textarea {
  outline-style: none;
  padding: .25em .125em;
  resize: none;
}

.gform_wrapper .top_label li.gfield.gf_left_half, .gform_wrapper .top_label li.gfield.gf_right_half {
  display: -moz-inline-stack;
  display: inline-block;
  vertical-align: top;
}

.gform_wrapper .top_label li.gfield.gf_left_half {
  margin: 0 0 .5em;
  width: 49%;
}

.gform_wrapper .top_label li.gfield.gf_left_half {
  clear: left !important;
  margin-right: 1.6%;
}

.gform_wrapper .top_label li.gfield.gf_right_half {
  clear: right !important;
}

.gform_wrapper .top_label li.gfield.gf_right_half {
  margin: 0 0 .5em;
  width: 48.5%;
}

.gform_wrapper .top_label li.gfield.gf_left_third {
  margin: 0 0 .5em;
  clear: left !important;
}

.gform_wrapper .top_label li.gfield.gf_left_third, .gform_wrapper .top_label li.gfield.gf_middle_third, .gform_wrapper .top_label li.gfield.gf_right_third {
  width: 31.9%;
  display: -moz-inline-stack;
  display: inline-block;
  vertical-align: top;
}

.gform_wrapper .top_label li.gfield.gf_middle_third {
  clear: none !important;
}

.gform_wrapper .top_label li.gfield.gf_middle_third, .gform_wrapper .top_label li.gfield.gf_right_third {
  margin-bottom: .5em;
  margin-left: 1.3% !important;
}

.gform_wrapper .top_label li.gfield.gf_right_third {
  clear: right !important;
}

.gform_wrapper .top_label li.gfield.gf_middle_third, .gform_wrapper .top_label li.gfield.gf_right_third {
  margin-bottom: .5em;
  margin-left: 1.3% !important;
}

.subscribe {
  border: 5px outset rgba(255, 255, 255, 0.1);
  margin: 20px auto;
  padding: 25px;
  max-width: 750px;
}
.subscribe .gform_wrapper {
  margin: 0 auto;
}
.subscribe .gform_wrapper div.validation_error {
  text-align: center;
  color: red;
}
@media only screen and (max-width: 48.625em) {
  .subscribe .gform_wrapper .top_label li.gfield.gf_middle_third.thirds-responsive-fix {
    margin-left: 0 !important;
  }
}
.subscribe .gform_wrapper .top_label .gfield_label {
  display: none;
}
.subscribe .gform_wrapper .gform_footer {
  position: relative;
  max-width: 250px;
  margin: 0 auto;
  background: linear-gradient(to right, #f7c34d 0%, #d8860d 100%);
  border: 2px outset #d68d1b;
  color: black;
  font-size: 2em;
  font-weight: bold;
  transition: 0.5s;
  margin-top: 35px;
  padding: 5px;
  width: 250px;
  border-radius: 0;
  text-align: center;
}
.subscribe .gform_wrapper .gform_footer input[type=submit] {
  border: none;
  text-transform: uppercase;
  font-family: "hansom_fyregular", sans-serif;
}
.subscribe .gform_wrapper .gform_footer:hover, .subscribe .gform_wrapper .gform_footer:focus {
  background: linear-gradient(to right, #d8860d 0%, #f7c34d 100%);
  border: 2px inset #d68d1b;
}
.subscribe .gform_wrapper .gform_footer:hover::before, .subscribe .gform_wrapper .gform_footer:focus::before {
  animation: twinkle 1s 1 forwards;
}
.subscribe .gform_wrapper .gform_footer:hover::after, .subscribe .gform_wrapper .gform_footer:focus::after {
  animation: twinkle 1.5s 1 forwards;
}
.subscribe .gform_wrapper .gform_footer::before {
  content: url(../img/base/starburst.png);
  position: absolute;
  left: -33px;
  top: -34px;
  display: inline-block;
  padding: 0;
  height: auto;
  width: auto;
}
.subscribe .gform_wrapper .gform_footer::after {
  content: url(../img/base/starburst.png);
  position: absolute;
  right: -32px;
  bottom: -47px;
  transition: 1s;
}
@media only screen and (max-width: 30em) {
  .subscribe .gform_wrapper .gform_footer {
    width: 250px;
  }
}
@keyframes twinkle {
  from {
    transform: scale3d(1, 1, 1);
    opacity: 1;
  }
  50% {
    transform: scale3d(0.75, 0.75, 0.75);
    opacity: 0.5;
  }
  to {
    transform: scale3d(1, 1, 1);
    opacity: 1;
  }
}
.subscribe .gform_wrapper .gform_button {
  padding: 0;
  margin: 0;
  background: none;
  color: black;
}
.subscribe .gform_wrapper .gform_button:hover, .subscribe .gform_wrapper .gform_button:focus {
  color: black;
}
.subscribe .gform_wrapper li.form-footer-tcs {
  font-size: 0.750em;
  margin-top: -5px;
}
@media only screen and (max-width: 48.625em) {
  .subscribe .gform_wrapper li.form-footer-tcs {
    text-align: center;
  }
}
.subscribe .gform_wrapper li.form-footer-tcs p {
  line-height: 1;
}
@media only screen and (max-width: 48.625em) {
  .subscribe .gform_wrapper li.hack-full-width {
    min-width: 97.5%;
  }
}
.subscribe .gform_wrapper input.button {
  font-size: 1.375em;
  font-weight: bold;
}
.subscribe .gforms_confirmation_message h4 {
  text-transform: uppercase;
  font-size: 3em;
}

.tickets {
  margin: 0 auto;
  max-width: 750px;
}
.tickets h3 {
  color: #d68d1b;
  text-align: center;
  margin: 35px auto 10px;
  font-size: 2.6em;
}
.tickets .row.ticket-details {
  margin-bottom: 20px;
  padding-top: 20px;
  padding-bottom: 10px;
  background: rgba(49, 49, 49, 0.7);
}
.tickets .row.ticket-details .calendar {
  padding-top: 0px;
  padding-bottom: 15px;
}
.tickets .row.ticket-details .calendar p {
  font-family: "hansom_fyregular", sans-serif;
  margin-bottom: 0;
  font-size: 1.857em;
  font-weight: 400;
  text-align: center;
  color: white;
}
.tickets .row.ticket-details .calendar p span {
  text-transform: uppercase;
}
@media only screen and (min-width: 62em) {
  .tickets .row.ticket-details .calendar {
    padding-bottom: 0px;
    border-right: 1px solid #d68d1b;
  }
}
.tickets .row.ticket-details .info {
  padding-top: 8px;
}
@media only screen and (min-width: 62em) {
  .tickets .row.ticket-details .info {
    padding-left: 40px;
  }
}
.tickets .row.ticket-details .info p {
  font-family: "hansom_fyregular", sans-serif;
  font-size: 1.414em;
  text-transform: uppercase;
  color: #d68d1b;
  margin-bottom: 8px;
  line-height: 22px;
}
@media (max-width: 61.9em) {
  .tickets .row.ticket-details .info p {
    text-align: center;
  }
}
.tickets .row.ticket-details .info p:first-of-type {
  color: white;
  font-size: 1.2em;
  text-transform: none;
}
.tickets .row.ticket-details .info p a {
  font-family: "hansom_fyregular", sans-serif;
  border-bottom: 1px solid #d68d1b;
}
.tickets .row.ticket-details .info p a:hover {
  color: white;
  border-bottom: 1px solid white;
}
.tickets .row.ticket-details .info p.theatre {
  font-family: "hansom_fyregular", sans-serif;
}
.tickets .row.ticket-details .info h5 {
  color: #d68d1b;
}
.tickets .row.ticket-details .book {
  position: relative;
  max-width: 200px;
  margin: 0 auto;
}
.tickets .row.ticket-details .book .btn {
  width: 200px;
}
.tickets .row.ticket-details .book .buttonTL {
  background: linear-gradient(to right, #f7c34d 0%, #d8860d 100%);
  border: 2px outset #d68d1b;
  color: black;
  font-size: 1.375em;
  font-weight: bold;
  transition: 0.5s;
  margin-top: 15px;
  padding: 5px;
  width: 200px;
  border-radius: 0;
}
.tickets .row.ticket-details .book .buttonTL:hover, .tickets .row.ticket-details .book .buttonTL:focus {
  background: linear-gradient(to right, #d8860d 0%, #f7c34d 100%);
  border: 2px inset #d68d1b;
  color: black;
}
.tickets .row.ticket-details .book .buttonTL:hover::before, .tickets .row.ticket-details .book .buttonTL:focus::before {
  animation: twinkle 1s 1 forwards;
}
.tickets .row.ticket-details .book .buttonTL::before {
  content: url(../img/base/starburst.png);
  position: absolute;
  left: -31px;
  top: -17px;
}
.tickets .row.ticket-details .book .buttonBR {
  background: linear-gradient(to right, #f7c34d 0%, #d8860d 100%);
  border: 2px outset #d68d1b;
  color: black;
  font-family: "hansom_fyregular", sans-serif;
  font-size: 1.375em;
  font-weight: bold;
  transition: 0.5s;
  margin-top: 15px;
  padding: 5px;
  width: 200px;
  border-radius: 0;
}
.tickets .row.ticket-details .book .buttonBR:hover, .tickets .row.ticket-details .book .buttonBR:focus {
  background: linear-gradient(to right, #d8860d 0%, #f7c34d 100%);
  border: 2px inset #d68d1b;
  color: black;
}
.tickets .row.ticket-details .book .buttonBR:hover::after, .tickets .row.ticket-details .book .buttonBR:focus::after {
  animation: twinkle 1.5s 1 forwards;
}
.tickets .row.ticket-details .book .buttonBR::after {
  content: url(../img/base/starburst.png);
  position: absolute;
  right: -32px;
  bottom: -40px;
  transition: 1s;
}
@keyframes twinkle {
  from {
    transform: scale3d(1, 1, 1);
    opacity: 1;
  }
  50% {
    transform: scale3d(0.75, 0.75, 0.75);
    opacity: 0.5;
  }
  to {
    transform: scale3d(1, 1, 1);
    opacity: 1;
  }
}
.about-the-show {
  margin: 20px auto;
  padding: 25px 5px;
  max-width: 750px;
}
.about-the-show .tag {
  margin: 0 auto;
  min-width: 70%;
}
.about-the-show .about-content {
  background-color: #154a98;
  padding: 25px 30px 10px;
  margin-top: 30px;
}
.about-the-show .about-content .left-column {
  text-align: right;
}
@media only screen and (max-width: 61.9em) {
  .about-the-show .about-content .left-column {
    text-align: center;
  }
}
.about-the-show .about-content .right-column {
  border-left: 1px solid rgba(0, 0, 0, 0.1);
}
@media only screen and (max-width: 61.9em) {
  .about-the-show .about-content .right-column {
    text-align: center;
    border-left: none;
  }
}

.groups {
  margin: 40px auto;
}
.groups h2 {
  font-size: 3em;
  margin: 50px auto 20px;
}
.groups h2.gsection_title {
  font-size: 1.8em;
  margin: 25px 0;
}
.groups .entry-content {
  max-width: 750px;
  margin: 0 auto;
}
.groups .book {
  position: relative;
  max-width: 250px;
  margin: 0 auto;
  text-transform: uppercase;
  font-size: 1.7em;
}
.groups .book .btn {
  width: 250px;
}
.groups .book .buttonTL {
  background: linear-gradient(to right, #f7c34d 0%, #d8860d 100%);
  border: 2px outset #d68d1b;
  color: black;
  font-size: 1.375em;
  font-weight: bold;
  transition: 0.5s;
  margin-top: 15px;
  padding: 5px;
  width: 250px;
  border-radius: 0;
}
.groups .book .buttonTL:hover, .groups .book .buttonTL:focus {
  background: linear-gradient(to right, #d8860d 0%, #f7c34d 100%);
  border: 2px inset #d68d1b;
  color: black;
}
.groups .book .buttonTL:hover::before, .groups .book .buttonTL:focus::before {
  animation: twinkle 1s 1 forwards;
}
.groups .book .buttonTL::before {
  content: url(../img/base/starburst.png);
  position: absolute;
  left: -31px;
  top: -17px;
}
.groups .book .buttonBR {
  background: linear-gradient(to right, #f7c34d 0%, #d8860d 100%);
  border: 2px outset #d68d1b;
  color: black;
  font-family: "hansom_fyregular", sans-serif;
  font-size: 1.375em;
  font-weight: bold;
  transition: 0.5s;
  margin-top: 15px;
  padding: 5px;
  width: 250px;
  border-radius: 0;
}
.groups .book .buttonBR:hover, .groups .book .buttonBR:focus {
  background: linear-gradient(to right, #d8860d 0%, #f7c34d 100%);
  border: 2px inset #d68d1b;
  color: black;
}
.groups .book .buttonBR:hover::after, .groups .book .buttonBR:focus::after {
  animation: twinkle 1.5s 1 forwards;
}
.groups .book .buttonBR::after {
  content: url(../img/base/starburst.png);
  position: absolute;
  right: -32px;
  bottom: -47px;
  transition: 1s;
}
@keyframes twinkle {
  from {
    transform: scale3d(1, 1, 1);
    opacity: 1;
  }
  50% {
    transform: scale3d(0.75, 0.75, 0.75);
    opacity: 0.5;
  }
  to {
    transform: scale3d(1, 1, 1);
    opacity: 1;
  }
}
.groups .gform_wrapper .top_label .gfield_label {
  display: none;
}
.groups .gform_wrapper .ginput_container_name span > label,
.groups .gform_wrapper .ginput_container_address span > label,
.groups .gform_wrapper .ginput_container_email span > label {
  display: none;
}
.groups .gform_wrapper .ginput_container_name span > input,
.groups .gform_wrapper .ginput_container_address span > input,
.groups .gform_wrapper .ginput_container_email span > input {
  margin-bottom: 10px;
}
.groups .gform_wrapper .subscribe-confirm .ginput_container_checkbox ul li label {
  line-height: 1em;
  font-style: normal;
  color: white;
  padding-top: 10px;
}
.groups .gform_wrapper .gsection_description {
  font-style: normal;
  color: white;
  font-size: 1.3em;
}
.groups .gform_wrapper .gform_footer {
  position: relative;
  max-width: 250px;
  margin: 0 auto;
  background: linear-gradient(to right, #f7c34d 0%, #d8860d 100%);
  border: 2px outset #d68d1b;
  color: black;
  font-size: 2em;
  font-weight: bold;
  transition: 0.5s;
  margin-top: 35px;
  padding: 5px;
  width: 250px;
  border-radius: 0;
  text-align: center;
}
.groups .gform_wrapper .gform_footer input[type=submit] {
  border: none;
  text-transform: uppercase;
  font-family: "hansom_fyregular", sans-serif;
}
.groups .gform_wrapper .gform_footer:hover, .groups .gform_wrapper .gform_footer:focus {
  background: linear-gradient(to right, #d8860d 0%, #f7c34d 100%);
  border: 2px inset #d68d1b;
}
.groups .gform_wrapper .gform_footer:hover::before, .groups .gform_wrapper .gform_footer:focus::before {
  animation: twinkle 1s 1 forwards;
}
.groups .gform_wrapper .gform_footer:hover::after, .groups .gform_wrapper .gform_footer:focus::after {
  animation: twinkle 1.5s 1 forwards;
}
.groups .gform_wrapper .gform_footer::before {
  content: url(../img/base/starburst.png);
  position: absolute;
  left: -33px;
  top: -34px;
  display: inline-block;
  padding: 0;
  height: auto;
  width: auto;
}
.groups .gform_wrapper .gform_footer::after {
  content: url(../img/base/starburst.png);
  position: absolute;
  right: -32px;
  bottom: -47px;
  transition: 1s;
}
@media only screen and (max-width: 30em) {
  .groups .gform_wrapper .gform_footer {
    width: 250px;
  }
}
@keyframes twinkle {
  from {
    transform: scale3d(1, 1, 1);
    opacity: 1;
  }
  50% {
    transform: scale3d(0.75, 0.75, 0.75);
    opacity: 0.5;
  }
  to {
    transform: scale3d(1, 1, 1);
    opacity: 1;
  }
}
.groups .gform_wrapper .gform_button {
  padding: 0;
  margin: 0;
  background: none;
  color: black;
}
.groups .gform_wrapper .gform_button:hover, .groups .gform_wrapper .gform_button:focus {
  color: black;
}
.groups .gforms_confirmation_message h4 {
  text-transform: uppercase;
  font-size: 3em;
}

html, body {
  height: 100%;
  background: black;
}

main {
  min-height: 80vh;
}
main figure {
  max-width: 100%;
  margin: 10px auto;
  text-align: center;
}
@media (min-width: 48em) {
  main figure {
    max-width: 30%;
    float: right;
    margin: 0 0 20px 20px;
  }
}
main figure img {
  max-width: 100%;
  height: auto;
  text-align: center;
}

.navbar {
  background-color: #1b1b1b;
  margin-bottom: 5px;
  border-bottom: 2px solid #d68d1b;
}
.navbar .navbar-nav li, .navbar .navbar-nav li.dropdown {
  font-size: 1.5em;
  background: none;
}
.navbar .navbar-nav li a, .navbar .navbar-nav li a.open, .navbar .navbar-nav li.dropdown a, .navbar .navbar-nav li.dropdown a.open {
  color: #d68d1b;
  font-weight: 400;
  padding: 15px 10px;
  font-family: "hansom_fyregular", sans-serif;
  line-height: 1.5em;
}
.navbar .navbar-nav li a:hover, .navbar .navbar-nav li a.active, .navbar .navbar-nav li.dropdown a:hover, .navbar .navbar-nav li.dropdown a.active {
  background: none;
  color: #F0A735;
}
.navbar .navbar-nav li ul.dropdown-menu, .navbar .navbar-nav li.dropdown ul.dropdown-menu {
  width: 100%;
  background: #1b1b1b;
  border-top: 2px solid #d68d1b;
}
.navbar .navbar-nav li ul.dropdown-menu .active a, .navbar .navbar-nav li.dropdown ul.dropdown-menu .active a {
  background: none;
}
@media (max-width: 61.9em) {
  .navbar .navbar-nav li ul.dropdown-menu li a, .navbar .navbar-nav li.dropdown ul.dropdown-menu li a {
    color: #d68d1b;
  }
  .navbar .navbar-nav li ul.dropdown-menu li a:hover, .navbar .navbar-nav li.dropdown ul.dropdown-menu li a:hover {
    color: #F0A735;
  }
}
.navbar .navbar-nav .active a, .navbar .navbar-nav .active > a {
  font-weight: 400;
  background-color: #1b1b1b;
  color: #d68d1b;
}
.navbar .navbar-nav .active a:hover, .navbar .navbar-nav .active a.active {
  color: #F0A735;
  background-color: #1b1b1b;
}
@media only screen and (min-width: 62em) {
  .navbar .navbar-nav .active.navbuttonTL a {
    background: linear-gradient(to right, #f7c34d 0%, #d8860d 100%);
    color: black;
  }
  .navbar .navbar-nav li.navbuttonTL {
    background: linear-gradient(to right, #f7c34d 0%, #d8860d 100%);
    border: 2px outset #d68d1b;
    color: black;
    transition: 0.5s;
    margin-top: 10px;
    margin-bottom: 5px;
  }
  .navbar .navbar-nav li.navbuttonTL a {
    padding: 5px 15px;
  }
  .navbar .navbar-nav li.navbuttonTL:hover, .navbar .navbar-nav li.navbuttonTL:focus, .navbar .navbar-nav li.navbuttonTL:active {
    background: linear-gradient(to right, #d8860d 0%, #f7c34d 100%);
    border: 2px inset #d68d1b;
    color: black;
  }
  .navbar .navbar-nav li.navbuttonTL:hover::before, .navbar .navbar-nav li.navbuttonTL:focus::before, .navbar .navbar-nav li.navbuttonTL:active::before {
    animation: twinkle 1s 1 forwards;
  }
  .navbar .navbar-nav li.navbuttonTL::before {
    content: url(../img/base/starburst-small.png);
    position: absolute;
    left: -12px;
    top: -12px;
  }
  .navbar .navbar-nav li.navbuttonBR {
    transition: 0.5s;
  }
  .navbar .navbar-nav li.navbuttonBR:hover::after, .navbar .navbar-nav li.navbuttonBR:focus::after {
    animation: twinkle 1.5s 1 forwards;
  }
  .navbar .navbar-nav li.navbuttonBR::after {
    content: url(../img/base/starburst-small.png);
    position: absolute;
    right: -10px;
    bottom: -18px;
    transition: 2s;
  }
  .navbar .navbar-nav li.btn a {
    color: black;
  }
  .navbar .navbar-nav li.btn a:hover {
    background: none;
    color: black;
  }
}
.navbar ul.social li a {
  padding: 15px 5px;
}

.navbar-default .navbar-nav > .open > a, .navbar-default .navbar-nav > .open > a:focus, .navbar-default .navbar-nav > .open > a:hover {
  background: #1b1b1b;
  color: #d68d1b;
}

.navbar-default .navbar-toggle {
  border-color: #d68d1b;
}
.navbar-default .navbar-toggle .icon-bar {
  background-color: #d68d1b;
}
.navbar-default .navbar-toggle:hover, .navbar-default .navbar-toggle:focus {
  background-color: black;
}
.navbar-default .navbar-toggle:hover .icon-bar, .navbar-default .navbar-toggle:focus .icon-bar {
  background-color: #d68d1b;
}

.navbar-brand {
  max-width: 280px;
  margin-right: 20px;
  padding: 0;
  padding-top: 15px;
}
.navbar-brand img {
  max-width: 100%;
}
@media (max-width: 33.9em) {
  .navbar-brand {
    max-width: 200px;
  }
}

/* Small Devices, Tablets */
.navbar-collapse {
  background: #1b1b1b;
  border: none;
}
.navbar-collapse li {
  text-align: left;
  text-transform: uppercase;
}
.navbar-collapse li.btn {
  padding: 0;
}

@media (max-width: 47.9em) {
  .site-header {
    padding: 0;
  }
}

h2.subheader {
  font-size: 1em;
  margin: 15px auto;
  color: white;
  text-transform: uppercase;
  text-align: center;
  /* Small Devices, Tablets */
}
@media only screen and (max-width: 30em) {
  h2.subheader {
    font-size: 0.6em;
  }
}

.site-branding {
  background-color: black;
  filter: filter-gradient(#0d2e61, #7db9e8, vertical);
  margin: auto;
}

footer {
  padding-top: 20px;
  max-width: 750px;
}
footer p {
  font-weight: 400;
  color: white;
  font-size: 0.9em;
}
footer p.footer-right {
  text-align: right;
}
footer a {
  font-weight: 400;
  color: white;
  border-bottom: 1px solid white;
  font-size: 0.9em;
}
footer a:hover {
  color: #d68d1b;
  border-bottom-color: #d68d1b;
}

/* Small Devices, Tablets */
@media only screen and (max-width: 48em) {
  footer p, footer a, footer p.footer-right {
    text-align: center;
  }
}
.nopadding {
  padding: 0 !important;
  margin: 0 !important;
}

.fulldiv a {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  text-decoration: none;
  /* No underlines on the link */
  z-index: 10;
  /* Places the link above everything else in the div */
  background-color: #FFF;
  /* Fix to make div clickable in IE */
  opacity: 0;
  /* Fix to make div clickable in IE */
  filter: alpha(opacity=1);
  /* Fix to make div clickable in IE */
}

.clearfix {
  clear: both;
}

/*# sourceMappingURL=theme.css.map */
